# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

m_grupo9/*.o
m_grupo9/*.ko
m_grupo9/*.mod
m_grupo9/*.mod.c 
m_grupo9/*.mod.o 
m_grupo9/*.symvers 
m_grupo9/*.order
m_grupo9/.*.*.cmd
m_grupo9/.*.*.*.cmd

cpu_grupo9/*.o
cpu_grupo9/*.ko
cpu_grupo9/*.mod
cpu_grupo9/*.mod.c 
cpu_grupo9/*.mod.o
cpu_grupo9/*.symvers
cpu_grupo9/*.order
cpu_grupo9/.*.*.cmd
cpu_grupo9/.*.*.*.cmd